.el-main {
    padding-top: 0px;
}
.fix{
    *zoom:1;
}
.fix:after
{
    display:block;
    content:"clear";
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
}
.el-pagination {
     text-align: right;
 }
.content-hide{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}
